StudentManagementApi/Connected Services/ServiceReference/StudentManagementWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/StudentManagementWebService" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/StudentManagementWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/StudentManagementWebService" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="INSERTStudentApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="firstName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="middleName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dOB" type="date" />
            <element minOccurs="1" maxOccurs="1" name="gender" type="string" />
            <element minOccurs="1" maxOccurs="1" name="class" type="string" />
            <element minOccurs="1" maxOccurs="1" name="term" type="string" />
            <element minOccurs="1" maxOccurs="1" name="countyCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nEMISNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="academicYear" type="string" />
            <element minOccurs="1" maxOccurs="1" name="names" type="string" />
            <element minOccurs="1" maxOccurs="1" name="type" type="string" />
            <element minOccurs="1" maxOccurs="1" name="occupation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mobileNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="companyName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="companyAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="companyTelNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="residentialAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="apartmentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="houseNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="INSERTStudentApplication_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="INSERTStudentApplication">
    <part name="parameters" element="tns:INSERTStudentApplication" />
  </message>
  <message name="INSERTStudentApplication_Result">
    <part name="parameters" element="tns:INSERTStudentApplication_Result" />
  </message>
  <portType name="StudentManagementWebService_Port">
    <operation name="INSERTStudentApplication">
      <input name="INSERTStudentApplication" message="tns:INSERTStudentApplication" />
      <output name="INSERTStudentApplication_Result" message="tns:INSERTStudentApplication_Result" />
    </operation>
  </portType>
  <binding name="StudentManagementWebService_Binding" type="tns:StudentManagementWebService_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="INSERTStudentApplication">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/StudentManagementWebService:INSERTStudentApplication" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="INSERTStudentApplication">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="INSERTStudentApplication_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="StudentManagementWebService">
    <port name="StudentManagementWebService_Port" binding="tns:StudentManagementWebService_Binding">
      <address location="http://173.249.23.236:2022/PBC/WS/PBC%20Test/Codeunit/StudentManagementWebService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>